<h3>Comandos a ejecutar</h3>
<form method="post" action="/inicio">
    <textarea name="campo_entrada" rows="7" cols="20"></textarea>
    <input type="submit" value="ejecutar">
</form>
<h3>Posicion Inicial:<%=@pos_x_auto1%>,<%=@pos_y_auto1%> <%=@orientacion_auto1%></h3>
<h3>Comandos <%=@comandos1%></h3>
<h3>Posicion Final:<%=@posxfinal%>,<%=@posyfinal%> <%=@orientacionfinal%></h3>