<h3>Comandos a ejecutar</h3>
<form method="post" action="/inicio">
    <textarea name="campo_entrada" rows="7" cols="20"></textarea>
    <input type="submit" value="ejecutar">
</form>


<%i=0%>
<% while i<@posyiniciales.length() do%>
    <h2>Auto <%=i+1%>:</h2>
    <h3>Posicion Inicial:<%=@posyiniciales[i]%>,<%=@posxiniciales[i]%> <%=@orientacioniniciales[i]%> </h3>
    <h3>Comandos: <%=@comandos_vista[i]%></h3>  
    <h3>Posicion Final:<%=@posyfinales[i]%>,<%=@posxfinales[i]%> <%=@orientacionfinales[i]%> </h3>
    <%i=i+1%>
<%end%>


